
.DS_Store

# unneeded
old/
match_sentences/
rmh_morgunbladid_lemmatized/
venv/
corpald/
sentfiles_info.txt
intermediate_files/
parsed/
locateWord_OLD.py
1.py
*.tagged
*.taggedx
*.ipsdx
*.ipsd
*.xml
*.lemmatized
